h2{
	color: blue;
}
	.boxmodel1{
	border:5px solid ;
	border-color: rgba(129,21,50,0.3);
	display: inline-block;
	padding:20px 3px 20px 3px;
	margin: 5px 15px;
	width: 335px;height: 55px;
}
	.boxmodel2{
	border:5px solid ;
	border-color: rgba(129,21,50,0.3);
	display: inline-block;
	padding: 
}
	.boxmodel3{
	border:5px solid ;
	border-color: rgba(129,21,50,0.3);
	display: inline-block;
	padding: }
	.boxmodel4{
	border:5px solid ;
	border-color: rgba(129,21,50,0.3);
	display: inlineflex;
	padding: 
	} 